#main{
  margin:auto;
  width: 1500px;
}
#header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: hsla(0, 0%, 100%, 1);
  padding: 0.5em;
}
#header-img{
  float: left;
  width: 100px;
  height: 50px;
}
@media (min-height: 350px){
  #header-img{
    float: left;
    width: 50px;
    height: 50px;
  }
}
#nav-bar ul{
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;

}
#nav-bar li{
  float: right;
}
#nav-bar li, a{
  display: block;
  text-decoration: none;
  padding:  14px 50px;
  color: black;
  font-size: 20px;
}
#title{
  text-align: center;
}
#form{
  margin-left: 600px;}
#email {
  width: 200px;
  height: 20px;
}
#submit{
  margin-top: 5px;
  margin-left: 55px;
  text-transform: uppercase;
  background-color: rgba(155, 135, 12, 1);
  height: 30px;
}

#Features{
  margin:auto;
  width: 1200px;
  margin-left: 200px;
}
#myFeatures{
  margin:auto;
  width: 900px;
}
.material-icons{
  font-size: 80px;
  float:left;
  margin-right: 50px;
  width: 50px;
}
#big-text{
  font-size: 25px;
  font-weight: bold;
}
#small-text{
  font-size: 18px;
  font-weight: light;
}
#Howitworks {
  margin:auto;
  width: 600px;
  margin-left: 500px;
}
#video{
  width: 500px;
  margin-left: 100px;
}
.flex-container{
  display: flex;
  width: 1200px;
  margin: auto;
  margin-left: 300px;
}
.flex-item{
  width: 300px;
  height: 400px;
  border: 2px solid black;
  margin-right: 50px;
}
.flex-header{
  background: hsla(0, 0%, 80%, 1);
  margin-top: -1px;
  text-align: center;
  width: 300px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 15px;
  
}
.flex-article{
  font-size: 25px;
  line-height: 2.0em;
  text-align: center;
  padding-top: 10px;
}
.flex-button{
  padding: 1px;
  background: yellow;
  width: 120px;
  margin-left: 90px;
  margin-top: 10px;
  text-align: center;
}
#footer{
  background: hsla(0, 0%, 80%, 1);
  height: 80px;
}
#footer ul{
  list-style-type: none;
  overflow: hidden;
  margin:0;
  padding:0;
}
#footer li{
  float: right;
}
#footer li, a{
  display: block;
  color: black;
  text-align: center;
  padding: 2px 3px;
  padding-bottom: 1px;
  text-decoration: none;
}
#footer p{
  text-align: right;
  margin-top: 0px;
}